<footer class="Footer">
    {% if copyright %}
    <span class="Footer__Copyright">{{ copyright }}</span>
    {% endif %}
</footer>
{% includeJsFile "/assets/js/main.js" %}
{{ getFootHtml() }}
{% if googleAnalyticsId %}
<script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','{{ googleAnalyticsId }}','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
{% endif %}
