<header id="header">
    <h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>

    <nav>
        <ul>
            <li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li>
        </ul>
    </nav>
</header>
